<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="host=allyoumediadb.cvjuyhewahet.us-east-1.rds.amazonaws.com;port=5432;database=AllYouMedia;user id=allyoumediaadmin;password=pEU4xX*uP^!2E3a" providerName="Npgsql" />-->
    <!--<add name="DefaultConnection" connectionString="server=localhost;uid=root;pwd=domain;database=AllYouMedia;Convert Zero Datetime=True;" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="server=allyoumedia.cvjuyhewahet.us-east-1.rds.amazonaws.com;uid=allyoumediaadmin;pwd=pEU4xX*uP^!2E3a;database=AllYouMedia;Convert Zero Datetime=True;" providerName="MySql.Data.MySqlClient" />-->
    <add name="DefaultConnection" connectionString="server=localhost;uid=root;database=AllYouMedia;Convert Zero Datetime=True;" providerName="MySql.Data.MySqlClient" />
    <!--<add name="LocalSqlServer" connectionString="Data Source=PC-11; AttachDBFilename=|DataDirectory|aspnetdb.mdf;Integrated Security=SSPI;User Instance=true;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=LAPTOP-DDA7KDIK\SQLEXPRESS; Initial Catalog=Allyoumedia;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />-->
    <!--<add name="LocalSqlServer" connectionString="Data Source=getmyresolution.c2n3skzoi2pv.us-east-1.rds.amazonaws.com,1433; Initial Catalog=Allyoumedia; User ID=AllYouMediaSQLUser; Password=allyoumedia;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <paypal>
    <settings>
      <add name="mode" value="sandbox" />
      <add name="clientId" value="ASFop5kFECkK4JVHDbN7nJ0-1pQsfXGMeUUGUTtokk6d1dryN-213nQx0KkdlE5ELH7g1shjRZqltfdH" />
      <add name="clientSecret" value="EL-6lNyOxTJhjbf3wFrfmu0Ij-rpJ6UV-y09qxm9HpqAX4q7QO3CS9hChkXBId9aY9-ljdXDaKfYqGHv" />
    </settings>
  </paypal>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="mailaddress" value="webtesting@scbit.com" />
    <add key="mailaddress_admin" value="allyoumedia@gmail.com" />
    <add key="mailpass" value="121212" />
    <add key="hostaddress" value="webmail.scbit.com" />
    <!--<add key="mailaddress" value="webtesting@scbit.com"></add>
    <add key="mailpass" value="12345"></add>
    <add key="mailaddress_admin" value="allyoumedia@gmail.com"></add>
    <add key="hostaddress" value="relay-hosting.secureserver.net"></add>-->
    <add key="TalentImagePath" value="~/Images/User/Talent/" />
    <add key="TalentMediaPath" value="~/Images/User/Media/" />
    <add key="EventImagePath" value="~/Images/Event/" />
    <add key="EventPerformerImagePath" value="~/Images/Event/EventPerformer/" />
    <!--<add key="PaypalClientID" value="ARbZIhBTTdMh3vYu-fg0tBNZTzC-6oxEw9cr5y3VX9e43E7HFl4BJgn7BU70" />
    <add key="PaypalSecretID" value="ELLvhhAxAPWL7IGIt3bZ4imSB3yOiBjq4BaZY2WzvIRqC0s39n_ijHH19utx" /> old details
    <add key="PaypalCurrencyCode" value="USD" />
    <add key="PaypalEndpoints" value="sandbox" />
    <add key="PayeezyAPIExactID" value="R98334-84" />
    <add key="PayeezyAPIPassword" value="5Kcz8Wr5amscVQYaouKAwxEiUZ744eEh" />
    <add key="GatewayCurrencyCode" value="USD" />
    -->
    <add key="MvcMailer.BaseURL" value="" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <siteMap>
      <providers>
        <remove name="MySqlSiteMapProvider" />
      </providers>
    </siteMap>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5" maxRequestLength="104857600" executionTimeout="36000" />
    <httpModules>
      <!--<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />-->
    </httpModules>
    <trust level="Full" />
    <globalization culture="en-US" uiCulture="en-US" />
    <customErrors mode="Off" defaultRedirect="~/Shared/Error">
      <error redirect="~/Shared/Error" statusCode="404" />
    </customErrors>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.8.0" newVersion="6.9.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.Identity.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework codeConfigurationType="MySql.Data.Entity.MySqlEFConfiguration, MySql.Data.Entity.EF6">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="FormsAuthenticationModule" />
      <!--<remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />-->
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.globalgatewaye4.firstdata.com/transaction/v8" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="Payeezy.ServiceSoap" name="ServiceSoap" />
    </client>
  </system.serviceModel>
  <system.net>
    <mailSettings>
      <!-- Method#1: Configure smtp server credentials -->
      <!--<smtp from="donotreply@allyoumedia.com">
        <network enableSsl="true" host="smtpout.secureserver.net" port="465" userName="admin@allyoumedia.com" password="donotreply@outbound$*" />
      </smtp>-->
      <smtp from="allyoumedia2@gmail.com">
        <network enableSsl="true" host="smtp.gmail.com" port="587" userName="allyoumedia2@gmail.com" password="allyoumedia@12345" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>