@using AllYouMedia.Models
@{
    ViewBag.Title = "Change Password";
    ViewBag.Active = "ChangePassword";
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutLTE.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
}
@section styles{
    <link href="/Content/AdminLTE/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/Content/AdminLTE/plugins/datatables/Buttons-1.5.0/css/buttons.bootstrap.css" rel="stylesheet" />
    <link href="/Content/AdminLTE/plugins/datatables/Editor-2018-01-02-1.7.0/css/editor.bootstrap.css" rel="stylesheet" />
    <link href="/Content/AdminLTE/plugins/datatables/Select-1.2.4/css/select.bootstrap.min.css" rel="stylesheet" />

}
<section class="content">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Change Password</h3>
            </div>
            <form method="post" action="/@this.ViewContext.RouteData.Values["controller"]/ChangePassword" data-parsley-validate="">
                <div class="box-body" style="overflow:hidden;">
                    <div class="form-group">
                        <label for="Name">Current Password</label>
                        <input type="password" name="CurrentPassword" id="CurrentPassword" required="" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Name">New Password</label>
                        <input type="password" name="NewPassword" id="NewPassword" required="" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Name">Confirm New Password</label>
                        <input type="password" name="ConfirmNewPassword" id="ConfirmNewPassword" required="" data-parsley-equalto="#NewPassword" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</section>
@section scripts{
    <script src="~/Scripts/parsley.min.js"></script>
    <script>

    </script>
}



