@using AllYouMedia.Models
@model UserPageModel

<div class="dashboard-header content">
    <h4 class="page-content-title  float-xs-left">AGREEMENT BETWEEN MEMBERS</h4>
    <div class="dashboard-box">
        <div class="table-badges-section">
            <div class="col-md-12">
                @Html.Raw(Model.PageHtml)
            </div>
        </div>
    </div>
</div>

