
@{
    ViewBag.Title = "Learning Center";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="col-md-12">
    <div class="col-md-12">
        <section id="content-wrapper">
            <div class="">
                <div class="content userlist-content">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="dashboard-box">
                            <div class="table-badges-section">
                                <h1>
                                    Coming Soon....
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>