
@{
    ViewBag.Title = "MarketingTools";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="col-md-12">
    <div class="col-md-12">
        <section id="content-wrapper">
            <div class="">
                <div class="content userlist-content">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="dashboard-box">
                            <h3>Get More Exposure Advertising On Our Site, At Our Events And Our Partner Events.</h3>
                            <h3>Contacts Us at :</h3>
                            <h2>ads@allyoumedia.com</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>