@using AllYouMedia.Models
@{
    ViewBag.Title = "Talent Search";
    ViewBag.Active = "TalentSearch";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@section styles{
    <link href="/Content/AdminLTE/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/Content/AdminLTE/plugins/datatables/Buttons-1.5.0/css/buttons.bootstrap.css" rel="stylesheet" />
    <link href="/Content/AdminLTE/plugins/datatables/Editor-2018-01-02-1.7.0/css/editor.bootstrap.css" rel="stylesheet" />
    <link href="/Content/AdminLTE/plugins/datatables/Select-1.2.4/css/select.bootstrap.min.css" rel="stylesheet" />

}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Talent Search</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div>
                    <p style="max-width:40%;margin-left:10px;">
                        <label>Keyword</label>
                        <input class="form-control" id="q" name="q" placeholder="(Search by Name or Keyword)" />
                    </p>
                    <p id="container_CategoryType" style="display:none;max-width:40%;margin-left:10px;">
                        <label>Category</label>
                        <select class="form-control" id="CategoryType" name="CategoryTypeID" onchange="categoryTypeChanged(this);"></select>
                    </p>
                    <p id="container_Category" style="display: none; max-width: 40%; margin-left: 10px;">
                        <label>Sub Category</label>
                        <select class="form-control" id="Category" name="CategoryID" onchange="categoryChanged(this);"></select>
                    </p>
                    <p id="container_SubCategory" style="display: none; max-width: 40%; margin-left: 10px;">
                        <label>Level 2 Category</label>
                        <select class="form-control" id="SubCategory" name="SubCategoryID" onchange="subCategoryChanged(this);"></select>
                    </p>
                    <p id="container_Attribute" style="display: none; max-width: 40%; margin-left: 10px;">
                        <label>Level 3 Category</label>
                        <select class="form-control" id="Attribute" name="AttributeID"></select>
                    </p>
                    <p style="max-width: 40%; margin-left: 10px;">
                        <button type="button" class="btn btn-default" onclick="refreshData();">Search</button>
                    </p>
                    <div class="table-responsive">
                        <table id="TalentSearch" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    @*<th></th>*@
                                    <th>Name</th>
                                    <th>User Name</th>
                                    @*<th>Sub Category</th>*@
                                    <th>Location</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div>
    </div><!-- /.col -->
</div>
@section scripts{
    <script src="/Content/AdminLTE/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
    <script src="/Content/AdminLTE/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>
    <script src="~/Content/AdminLTE/plugins/datatables/Buttons-1.5.0/js/dataTables.buttons.js"></script>
    <script src="~/Content/AdminLTE/plugins/datatables/Buttons-1.5.0/js/buttons.bootstrap.js"></script>
    @*<script src="~/Content/AdminLTE/plugins/datatables/Editor-2018-01-02-1.7.0/js/dataTables.editor.min.js"></script>
        <script src="~/Content/AdminLTE/plugins/datatables/Editor-2018-01-02-1.7.0/js/editor.bootstrap.min.js"></script>*@
    <script src="~/Content/AdminLTE/plugins/datatables/Select-1.2.4/js/dataTables.select.min.js"></script>
    <script src="~/Content/AdminLTE/plugins/datatables/customEditors.js"></script>
    <script src="~/Scripts/parsley.min.js"></script>
    <script>
        var table = null;
        $(document).ready(function () {
            // refreshData();
            getAndBindCategoryType();
        });
        function refreshData() {
            if (table != null) table.destroy();
            table = $('#TalentSearch').DataTable({
                //"processing": true,
                "searching": false,
                "serverSide": true,
                lengthChange: false,
                ajax: {
                    url: "/User/TalentSearchList", "type": "POST",
                    data: function (d) {
                        d.CategoryTypeID = $("#CategoryType").val();
                        d.CategoryID = $("#Category").val();
                        d.SubCategoryID = $("#SubCategory").val();
                        d.AttributeID = $("#Attribute").val();
                        d.q = $("#q").val();
                        return d;
                    }
                },
                columns: [
                    { data: "Name" },
                    { data: "UserName" },
                    //{ data: "SubCategory" },
                    { data: "Location" },
                    {
                        data: null, render: function (data) {
                            var returnStr = '';
                            returnStr += '<div class="btn-group">';
                            returnStr += '      <button type="button" class="btn btn-sm btn-primary" onclick="openSendMessageModal(' + data.DT_RowId + ');">Message</button>';
                            returnStr += '      <button type="button" class="btn btn-sm btn-default" onclick="openProfile(' + data.DT_RowId + ');">Profile</button>';
                            returnStr += '</div>';
                            return returnStr
                        }
                    },
                ],
                select: true,
                "columnDefs": [{
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                }],
                "order": [[1, 'asc']]
            });
            //table.on('order.dt search.dt', function () {
            //    table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
            //        cell.innerHTML = i + 1;
            //    });
            //});
        }
        function openSendMessageModal(AspNetUserID) {
            var modal = $("#sendMessageModal");
            modal.data("ToAspNetUserID", AspNetUserID);
            $("#MessageSubject").val('');
            $("#MessageBody").val('');
            modal.modal();
        }
        function openProfile(AspNetUserID) {
            window.open("/User/ProfileView?ID=" + AspNetUserID,'_blank');
        }

        function getAndBindCategoryType() {
            var membershipType = 2;
            var containerCatType = $("#container_CategoryType");
            var containerCat = $("#container_Category");
            if (membershipType === 2 || membershipType === 3) {
                containerCatType.show();
                containerCat.show();
                createDropdown('/Account/GetCategoryTypeByMembershipType', { MembershipType: membershipType }, $("#CategoryType"), true);
                $("#btnNext").parent().show(); $("#btnBack").parent().hide();
                $("#categorySection").show(); $("#userDetailsSection").hide();
            }
            else {
                containerCatType.hide();
                containerCat.hide();
                $("#btnNext").parent().hide(); $("#btnBack").hide();
                $("#categorySection").hide(); $("#userDetailsSection").show();
            }
        }
        function categoryTypeChanged(elem) {
            var membershipType = 2;
            var categoryType = $(elem).val();
            createDropdown('/Account/GetCategoryByCategoryTypeMembershipType', { MembershipType: membershipType, CategoryTypeID: categoryType }, $("#Category"), true);
        }
        function categoryChanged(elem) {
            var membershipType = 2;
            var category = $(elem).val();
            createDropdown('/Account/GetSubCategoryByCategoryMembershipType', { MembershipType: membershipType, CategoryID: category }, $("#SubCategory"), true);
        }
        function subCategoryChanged(elem) {
            var membershipType = 2;
            var subCategory = $(elem).val();
            createDropdown('/Account/GetAttributeBySubCategory', { SubCategoryID: subCategory }, $("#Attribute"), true);
        }
        function createDropdown(url, data, ddl, addDefault) {
            $.ajax({
                url: url,
                type: 'POST',
                data: data,
                success: function (returnData) {
                    if (returnData.Result == "OK") {
                        ddl.empty();
                        if (addDefault === true)
                            ddl.append('<option value="-1"></option>');
                        if (returnData.Data.length > 0) {
                            $(returnData.Data).each(function () {
                                ddl.append('<option value="' + this.Value + '">' + this.Text + '</option>');
                            });
                            ddl.parent().show();
                        }
                        else {
                            ddl.parent().hide();
                        }
                        if (addDefault === true || returnData.Data.length > 0)
                            ddl.change();
                    } else alert("Ops! Something went wrong. Please try again later.");
                },
                error: function () { alert("Ops! Something went wrong. Please try again later."); }
            });
        }
    </script>
}



