@{
    ViewBag.Title = "About Us";
}

<div class="page-tital">
    <div class="container">
        <h1>@ViewBag.Title</h1>
        <span><a href="#_">Home</a>  -  @ViewBag.Title</span>
    </div>
</div>
<div id="mid-part">
    <div class="container">
        <div class="pro-services ">
            <div class="row about-me">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="about-greentech-text">
                        <h1>
                            Welcome to <strong>All You Media</strong>
                        </h1>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                    <div class="about-greentech-text">
                        <p style="background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">
                            <b><span style="font-size: 9pt; font-family: Arial, sans-serif;">All You Media</span></b><span style="font-size: 9pt; font-family: Arial, sans-serif;">&nbsp;is the first and only one stop-shop for Creative Talents fused with an innovative profit share distribution system (Media Promoters); everyone makes money, everyone wins! We incorporate talents and fans with a unique opportunity to earn money, collaboration, produce and exposure in the music, film, book writing, art, modeling, fashion, all creative entertainment industries.&nbsp;<o:p></o:p></span>
                        </p>
                        <p style="background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">
                            <b><span style="font-size: 9pt; font-family: Arial, sans-serif;">All You Media</span></b><span style="font-size: 9pt; font-family: Arial, sans-serif;">&nbsp;is the next generation of Talent Media distribution, production, management and exposure: the ultimate one-stop shop!<o:p></o:p></span>
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                    <div class="about-greentech-img text-center">
                        <img src="/Images/aboutus.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
