@using AllYouMedia.Models
@model GuestPageModel
@{
    ViewBag.Title = "Media Agreement";
    Layout = "~/Views/Shared/_GuestLayout.cshtml";
}
@Html.Raw(Model.PageHtml);
@*<section class="main-content-area">
    <div class="container">       
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="greentect_bradcame">
                    <ul>
                        <li><a href="/home">home</a></li>
                        <li>Media Agreement</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row about-me">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="about-greentech-text">
                    <h1>Media Agreement</h1>
                </div>
            </div> <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="about-greentech-text">
                   
                </div>
            </div>
        </div>
    </div>
</section>*@

