@{
}

<div class="page-tital">
    <div class="container">
        <h1>Membership</h1>
        <span><a href="#_">Home</a>  -  Membership</span>
    </div>
</div>
<div id="mid-part">
    <div class="container">
        <div class="pro-services ">
            <ul>
                <li class="hidden visible animated fadeInUp">
                    <div class="plan-box">
                        <h1>ALL TALENT</h1>
                        <div class="plan-title-box">
                            <span>LAUNCH SPECIAL</span>
                            <h3>FREE</h3>
                            <h6 style="clear: both;">-</h6>
                            <span style="font-size:smaller;">LIMITED TIME OFFER</span>
                        </div>
                        <em>ENHANCE & SUPPORT YOUR TALENT</em>
                        <br>
                        <div class="inner-data">
                            <p>CONNECT & WORK WITH OTHER TALENTS</p>
                            <p>POWERFUL FAN GROWTH TOOL</p>
                            <p>MEMBER CONTRACTS</p>
                            <p>LEGAL SERVICES</p>
                            <p>POWERFUL MARKETING PACKAGES</p>
                            <p>UNIQUE TALENT SHOWCASING*cs</p>
                            <p> ONLINE PRODUCTION FOR MUSIC*cs</p>
                            <p> ONLINE AUDITIONS*cs</p>
                            <p> ONLINE PRODUCTION FOR FILM*cs</p>
                            <p> ONLINE PRODUCTION FOR DESIGN*cs</p>
                            <p>ONLINE AUDITION*cs</p>
                            <p>MANAGEMENT SERVICES*cs</p>
                            <p>ADMINISTRATION SERVICES*cs</p>
                            <p>LEARNING TOOLS*cs</p>
                            <p>
                                ADVICE FROM PROFESSIONALS*cs
                            </p>
                            <p>*cs = Coming Soon </p>
                        </div>
                        <a href="/Account/Register?MembershipType=@Convert.ToInt32(AllYouMedia.Code.SharedLibrary.MemberTypeEnum.AllTalent)">Choose Plan</a>
                    </div>
                </li>
                <li class="hidden visible animated fadeInUp">
                    <div class="plan-box active">
                        <h1>PRODUCTION</h1>
                        <div class="plan-title-box">
                            <span>LAUNCH SPECIAL</span>
                            <h3>FREE</h3>
                            <h6 style="clear: both;">$ <span>5.99</span> /month</h6>
                            <span style=" font-size: 8px;">Normal Rates $ <span>29.99</span> /month</span>
                        </div>
                        <em style="color: #e85f2b; margin: 0 10px 10px 10px; width: 95%; text-shadow: -0.5px -0.5px 0px #fff, 0.5px -0.5px 0px #fff, -0.5px 0.5px 0px #fff, 0.5px 0.5px 0px #fff; letter-spacing: 1px; ">OUR PROMOTERS SELL YOUR PRODUCT</em>
                        <br>
                        <div class="inner-data">
                            <p>ENHANCE & SUPPORT YOUR TALENT</p>
                            <p>CONNECT & WORK WITH OTHER TALENTS</p>
                            <p>POWERFUL FAN GROWTH TOOL</p>
                            <p>INTERACTIVE BUSINESS BACKEND</p>
                            <p>REAL TIME TRACKING OF YOUR SALES</p>
                            <p>REAL TIME TRACKING OF YOUR FANS</p>
                            <p>MEMBER CONTRACTS</p>
                            <p>LEGAL SERVICES</p>
                            <p>EXCLUSIVE SHOWCASING ACCESS*cs</p>
                            <p> ONLINE PRODUCTION FOR MUSIC*cs</p>
                            <p> ONLINE AUDITIONS*cs</p>
                            <p> ONLINE PRODUCTION FOR FILM*cs</p>
                            <p> ONLINE PRODUCTION FOR DESIGN*cs</p>
                            <p>PREMIUM DISCOUNTS ON PAID SERVICES*cs</p>
                            <p>UNIQUE TALENT SHOWCASING*cs</p>
                            <p>POWERFUL MARKETING PACKAGES*cs</p>
                            <p>ONLINE AUDITION*cs</p>
                            <p>MANAGEMENT SERVICES*cs</p>
                            <p>ADMINISTRATION SERVICES*cs</p>
                            <p>LEARNING TOOLS*cs</p>
                            <p>ADVICE FROM PROFESSIONALS*cs</p>

                            <p>*cs = Coming Soon </p>
                        </div>
                        <a href="/Account/Register?MembershipType=@Convert.ToInt32(AllYouMedia.Code.SharedLibrary.MemberTypeEnum.Production)">Choose Plan</a>
                    </div>
                </li>
                <li class="hidden visible animated fadeInUp">
                    <div class="plan-box">
                        <h1>MEDIA PROMOTER</h1>
                        <div class="plan-title-box">
                            <span>LAUNCH SPECIAL</span>
                            <h3>FREE</h3>
                            <h6 style="clear: both;">$ <span>3.99</span> /month</h6>
                            <span style=" font-size: 8px;">Normal Rates $ <span>19.99</span> /month</span>
                        </div>
                        <em>EARN PROMOTING EVERYTHING WE SELL</em>
                        <br>
                        <div class="inner-data">
                            <p>INTERACTIVE BUSINESS BACKEND</p>
                            <p>REAL TIME TRACKING OF YOUR PROFITS</p>
                            <p>REAL TIME TRACKING OF YOUR TEAMS ACTIVITIES</p>
                            <p>PREMIER ACCESS TO EVENTS & PARTIES*cs</p>
                            <p>EXCLUSIVE DISCOUNTS TO EVENTS & PARTIES*cs</p>
                            <p>EXCLUSIVE DISCOUNTS ON PRODUCTS*cs</p>
                            <p>AND MORE TO COME!</p>
                            <p>*cs = Coming Soon </p>
                        </div>
                        <a href="/Account/Register?MembershipType=@Convert.ToInt32(AllYouMedia.Code.SharedLibrary.MemberTypeEnum.MediaPromoter)">Choose Plan</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
