<html>
<head>
    <title>AllYouMedia</title>
</head>
<body>
    <div style="text-align:center;">
        <img src="https://allyoumedia.com/Content/Images/logo.png" />
    </div>
    @RenderBody()
</body>
</html>