@{

}
<p>Hello @ViewBag.ToName,</p>
<p>Your have received a new request for sharing your Fans from @ViewBag.FromName (@ViewBag.FromEmail)</p>
    <p>
        Please login to <a href="https://allyoumedia.com">https://allyoumedia.com</a> for action.
    </p>
    <p>Thank you</p>