@{

}
<p>Hello @ViewBag.ToName,</p>
<p>Your have received a new request to become a fan of @ViewBag.FromName</p>
<p>
    Please <a href="@ViewBag.ActionLink">click here</a> and then click on the Become a Fan button on the page.
</p>
<p>Thank you</p>