<p>Welcome @ViewBag.Name,</p>
<p>You successfully registered membership with us as a @ViewBag.MembershipType.</p>
<p><a href="@ViewBag.ConfirmationURL">Click here</a> to confirm your registration.</p>
<p>Thank you</p>